<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-50x50">
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <span class="title">{{ city_weather.city }}</span>
                    <br>
                    <span class="subtitle">{{ city_weather.temperature }}° C</span>
                    <br> {{ city_weather.description }}
                    <br>Яндекс Погода {{ city_weather.desc_ya }}
                    <span class="subtitle">{{ city_weather.temp_ya }} ° C</span>
                </p>
            </div>
        </div>
    </article>
</div>